.charts-container {
  height: 500px;
  width: 800px;
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

.charts-bar {
  background-color: rgba(244, 245, 245, 0.835);
  height: 40px;
  width: 100%;
}

.charts-name {
  top: -5px;
  margin-left: 15px;
  position: relative;
  font-weight: bold;
}

.chart-position {
  position: absolute;
  margin-top: 40px;
}