.single-transaction {
  height: 100px;
  width: 100%;
  background-color: rgb(248, 248, 248);
  margin-top: 5px;
  display: flex;
}

.left-bar {
  width: 1%;
}

.btns-display {
  width: 300px;
  position: absolute;
  margin-top: 15px;
  margin-left: 250px;
}

.edit-btn {
  position: relative;
  opacity: 50%;
}

.edit-btn:hover {
  opacity: 90%;
}

.delete-btn {
  position: relative;
  left: 5px;
  opacity: 50%;
}

.delete-btn:hover {
  opacity: 90%;
}

.cancel-btn {
  position: relative;
  left: 10px;
  opacity: 50%;
}

.cancel-btn:hover {
  opacity: 90%;
}

.img {
  width: 10%;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
}

.left-side {
  width: 57%;
  margin-top: 0px;
  margin-left: 10px;
}

.description {
  margin-top: -13px;
  margin-left: 10px;
}

.inputDescription {
  width: 375px;
  top: 5px;
}

.right-side {
  width: 30%;
  right: 0px;
}

.date {
  text-align: right;
  margin-right: 20px;
}

.amount-tr {
  text-align: left;
  margin-top: -20px;
  margin-left: 20px;
}

.amount-input {
  top: 15px;
}

.bc-yellowgreen {
  background-color: yellowgreen;
}

.bc-red {
  background-color: #ff1b41;
}

.c-yellowgreen {
  color: yellowgreen;
}

.c-red {
  color: #ff1b41;
}