.registerContainer {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 530px;
  width: 470px;
  height: 370px;
  z-index: 1;
  border: 2px solid rgb(78, 61, 61);
  border-radius: 10px;
}

.dialogTitle {
  text-align: center;
  font-size: 25px;
}
